<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trilight.ocr.mapper.purchase.VATInvoiceMapper">

    <select id="pageVATInvoice" resultType="com.trilight.ocr.model.dto.purchase.VATInvoiceDTO">
        SELECT * FROM vat_invoice
        <where>
            <if test="vatInvoice.purchaserName != null and vatInvoice.purchaserName != ''">
                AND purchaser_name LIKE CONCAT('%', #{vatInvoice.purchaserName}, '%')
            </if>
            <if test="vatInvoice.sellerName != null and vatInvoice.sellerName != ''">
                AND seller_name = #{vatInvoice.sellerName}
            </if>
            <if test="vatInvoice.invoiceNum != null and vatInvoice.invoiceNum != ''">
                AND invoice_num = #{vatInvoice.invoiceNum}
            </if>
            <if test="startDate != null">
                AND invoice_date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND invoice_date &lt;= #{endDate}
            </if>
            <if test="createStartTime != null">
                AND create_time &gt;= #{createStartTime}
            </if>
            <if test="createEndTime != null">
                AND create_time &lt;= #{createEndTime}
            </if>
        </where>
        ORDER BY vat_invoice_id DESC
    </select>
</mapper>
