<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trilight.ocr.mapper.VATInvoiceMapper">

    <select id="pageVATInvoice" resultType="com.trilight.ocr.model.dto.purchase.VATInvoiceDTO">
        SELECT * FROM vat_invoice
        <where>
            <if test="vatInvoiceDTO.purchaserName != null and vatInvoiceDTO.purchaserName != ''">
                AND purchaser_name LIKE CONCAT('%', #{vatInvoiceDTO.purchaserName}, '%')
            </if>
            <if test="vatInvoiceDTO.sellerName != null and vatInvoiceDTO.sellerName != ''">
                AND seller_name = #{vatInvoiceDTO.sellerName}
            </if>
            <if test="vatInvoiceDTO.invoiceNum != null and vatInvoiceDTO.invoiceNum != ''">
                AND invoice_num = #{vatInvoiceDTO.invoiceNum}
            </if>
        </where>
        ORDER BY vat_invoice_id DESC
    </select>
</mapper>
